.brDiv {
    background-color: rgb(232, 240, 242);
    padding: 40px 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;

}

.main > div:nth-child(1) {
    width: 65%;
    position: sticky;
}

.main > div:nth-child(2) {
    width: 35%;
}

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 65px;
    padding: 10px 0;
    background-color: rgb(232, 240, 242);
    z-index: 1;
}

.header > div:nth-child(1) > p {
    margin: 0;
}

.header > div:nth-child(1) > p:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
}

.header > div:nth-child(1) > p:nth-child(2) {
    font-weight: 500;
    margin-top: 5px;
}

.header > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 40px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    position: absolute;
    right: 0;
    margin-top: 12px;
}

.header > div:nth-child(2) > p {
    margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
}

.arrow {
    margin: 13px 20px 0;
}


/* List Of Hotels */

.list {
    margin: 20px 0;
    background-color: white;
    height: 300px;
    border-radius: 10px;
}
.list > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    height: 60%;
}
.imageDiv {
    width: 20%;
    height: 100%;
}
.imageDiv > img {
    width: 100%;
    height: 100%;
}
.paraDiv {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.paraDiv > div {
    height: 30px;
    padding-top: 5px;
}
.paraDiv > div > span {
    font-size: 13px;
    font-weight: 500;
}
.paraDiv > p {
    margin: 0;
}
.paraDiv > p:nth-child(1) {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
.paraDiv > p:nth-child(3) {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.paraDiv > p:nth-child(4) {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    bottom: 10px;
    color: rgb(241, 86, 63);
}

.roomSelect {
    display: flex;
    flex-direction: row;
}

.roomSelect > button {
    width: 12.5%;
    border: 0;
    padding: 10px 5px 0;
    background-color: white;
    cursor: pointer;
}

.roomSelect > button:hover {
    background-color: rgb(237, 242, 247);
}

.roomSelect > button > p:nth-child(2) {
    color: green;
    font-weight: 700;
    font-size: 15px;
}

.roomSelect > button > p:nth-child(3) {
    font-weight: 600;
    font-size: 13px;
}

.summary {
    margin-left: 30px;
    position: sticky;
    top: 80px;
    background-color: rgb(232, 240, 242);
    height: 300px;
    z-index: 1;
}

.summary > div:nth-child(1) > p {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.summary > div:nth-child(1) > p >:nth-child(2) {
    color: grey;
    margin-left: 5px;
    margin-right: 5px;
}

.summary > div:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: 500;
}

.summary > div:nth-child(2) > div > p:nth-child(2) {
    position: absolute;
    right: 0;
}

.summary > div > button {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgb(241, 88, 36);
    color: white;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;
}